@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

.App {
	text-align: center;
	background-image: url(./imgs/zen.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Nanum Pen Script', cursive;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.quote {
	color: white;
	text-shadow: 3px 3px 4px black;
	cursor: pointer;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

p {
	font-size: 4em;
}
